.chart {
  padding: 10px;
  padding-top: 1px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

body {
  padding-top: 64px;
  color: #2a2c4c;
}

.brand {
  display: block;
  float: left;
  padding: 14.5px 20px 14.5px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  text-shadow: 0 1px 0 #2c3e50;
}

h4 {
  margin-top: 24px;
/*  text-decoration: underline;
*/  /*font-weight: 600;*/
}

#map {
   height:500px;
   width:600px;
}

.navbar {
  background-color: #2c3e50;
}

div.bar {
  font: 11px sans-serif;
  background-color: white;
  text-align: right;
  padding: 3px;
  margin: 2px;
  /*color: black;*/
  height: 25px;
  border: 2px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}

div.boxplot {
  font: 11px sans-serif;
  text-align: right;
  padding: 2px;
  margin: 0;
  height: 18px;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 2px;
  background-color: #fee08b;
  white-space: nowrap;
}

.axis path,
.axis line {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
}

.axis text {
/*  font-size: 10pt;
  fill: gray;
  font-family: sans-serif;
*/  font: 11px sans-serif;
}

.dot {
  stroke: white;
}

#forest-cost .histbar {
  background-color: #1a9850;
}
#rangeland-cost .histbar {
  background-color: #fee08b;
}
#wetland-cost .histbar {
  background-color: lightblue;
}
#crop-cost .histbar {
  background-color: lightyellow;
}

.panel {
  background: 0;
}

.layer-switcher button {
  padding: 8px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  top: -42px;
  z-index: 9999;
}

.layer-switcher .panel {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: -42px;
  right: 0;
  min-width: 280px;
  z-index: 9998;
  font: 12px sans-serif;
  font-weight: normal;
}

#selected-ecoregion {
  padding: 14px;
  padding-left: 18px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
/*
  color: rgb(142, 144, 176);
  background-color: rgba(0, 0, 0, 0.75);
*/
  color: rgb(32, 34, 66);
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  left: 22px;
  top: 8px;
  font-size: 145%;
  z-index: 9990;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
  stroke-dasharray: 10,10;
}

#cost-container {
  background-color: white;
  border: 1px lightgrey solid;
  padding: 4px;
  width: 350px;
  margin: 12px;
}

circle.dot {
  fill: #2c3e50;
}

.navlinks {
  padding-top: 18px;
}
.navlinks a{
  color: white;
  font-size: 12pt;
}

.sep {
  margin-left: 10px;
  margin-right: 10px;
}

.quadrant {
  font-size:12pt;
  stroke:none;
  fill: #222;
  text-anchor: middle;
  paint-order: stroke;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 0.55;
  font-weight: 700;
}

text.label {
  font-size:11pt;
}

.layericon {
  float: right;
  cursor: pointer;
}

#layerlist {
  margin-top: 22px;
}

circle.ghost-point {
  fill: white;
  stroke: darkblue;
  opacity: 0.25;
}

a.brand:hover {
    background-color: #3C4E60;
    text-decoration: none;
    color: white;
}
